a,
a:hover{
text-decoration: none;
color: black;
}

.nav{
    display:flex;
    position: fixed;
    right: 0;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    width: 15vw;
}
.navItem{
background-color: #fff;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
flex: .06;
margin:1rem 0  0  0;
cursor: pointer;
transition: all 0.5s ;
}

.navItem:hover{
    background-color:rgba(0, 0, 0, 0.65);
    color: #fff;
}

table,th,td{
    border: 1px solid #fff;
    border-collapse: collapse;
}
th{
    padding: 1rem;
}

.red{
    background-color: red;
}

tr:first-child{
    background-color: tomato ;

}



.home{
    width: 85vw;
}
.table{
    width: 84.7vw;
    background-color: teal;
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.input{
    border-style: none;
    background-color: gainsboro;
    margin: 1rem 1rem  0  1rem;
    border-radius: 1rem;
    padding: 1rem;
    text-align: right;
    width: 100%;
    outline: none;
}
.error{
    color: red;
    font-size:70%;
    text-align: right;
    align-self: flex-end;
}

.btn{
    margin-top: 1rem;
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    background-color: seagreen;
    outline: none;
    border: none;;
}

